.menu{
    flex-direction: column!important;
}

ul.navbar-nav{
	align-items: center;
}

li.nav-item {
    padding: 15px;
    font-size: 12pt;    
}
.logo{
	width: 180px;
	height: auto;
}

@media (max-width: 992px){
	.li-logo{
		display: none;
	}
}
@media (min-width: 992px){
	.a-logo{
		display: none;	
	}
}