@media (max-width: 992px){
	.li-logo{
		display: none;
	}
}

@media (min-width: 992px){
	.a-logo{
		display: none;	
	}
}

@media (max-width: 575.98px) {
	.logo {
    	width: 40px !important;
	}
}
body{
	    background: #8e8e8e;
}

.menu{
	margin: 0 auto;
}

.menu-content{
    flex-direction: column!important;
}

ul.navbar-nav{
	align-items: center;
}

li.nav-item a {
    padding: 15px;
    font-size: 12pt;    
    color: #fff !important;
}

li.nav-item a:hover {
    text-decoration: none;
    font-size: 13pt;
    background-color: transparent;
}

li.nav-item a:focus {
	outline: none;
}

nav.navbar.navbar-expand-lg.navbar-light{
	background: hsla(0, 0%, 62%, 0.33);
}

/* Menu fixo ao topo INICIO*/
.nav-container{ 
	background: url('images/nav_bg.jpg') repeat-x 0 0;
}

.f-nav{ 
	z-index: 9999; 
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%;
	background: hsla(0, 0%, 55%, 0.76) !important;
}/* this make our menu fixed top */

.nav { 
	height: 42px;
}

.nav ul { 
	list-style: none; 
}

.nav ul li{
	float: left;
	margin-top: 6px;
	padding: 6px;
	border-right: 1px solid #ACACAC;
}

.nav ul li:first-child{ 
	padding-left: 0;
}

.nav ul li a:hover{ 
	text-decoration: underline;
}

/* Menu fixo ao topo FIM*/

/* Short Menu INICIO*/

.logo{
	width: 120px;
	height: auto;
	filter: brightness(0) invert(1);
}

.f-nav ul li img.logo {
    width: 60px;
}

/* Short Menu FIM*/

div#carouselExampleControls img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

nav.navbar.navbar-expand-lg.navbar-light.nav-container{
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.filtro-bolinha {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(/img/bg-texture-00.svg);
}